
body {
  display: inline-block;
  height: 240px;

}

body form {
  width: 212px;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  text-align: left;
}
  body form input {
    margin-bottom: 5px;
  }

  body form textarea {
    margin-top: 5px;

  }

div {
/*  display: inline-block; */
  width: 250px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  margin: 5px;
}
  div h1 a {
    display: inline-block;
  }
  div p {
    display: none;
    font-family: "Arial";
    font-size: 10pt;
    font-weight: normal;
  }
